body {
    color: white;
    font-size: 17px;
    font-family: 'Lato';
    -webkit-font-smoothing: antialiased;
    font-variant-ligatures: common-ligatures;
    background-color: black;
}

footer {
    background: url("Images/fire.gif") repeat-x ;
    height: 200px;
    position: fixed;
    bottom: 0;
    width: 100%;
}

.punished {
    color: red;
}